.card
{
  margin:auto;
  display:block;
  background-color: $card;
  padding: 1em;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
  overflow:hidden;
  margin-bottom:4em;
  margin-top:1em;
}

.card h1{
  background-color: $alt;
  color: $alt-text;
  margin: -0.5em -0.5em 0 -0.5em;
  padding: 0.5em;
}


/* FULL SCREEN */
@media (min-width: 48em) {
  .card {
    width: 56.25em;
  }
}
